<%= form_with model: group, local: true do |f| %>
  <div class="form-group">
    <%= f.label :グループ名 %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :紹介文 %>
    <%= f.text_area :introduction, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :テーマ %>
    <%= f.text_field :theme, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :ルール %>
    <%= f.text_field :rule, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :画像 %>
    <%= f.file_field :group_image, class: "form-control-file" , accept: "image/*" %>
  </div>

  <div class="form-group">
    <%= f.submit 'グループを作成する',class: 'btn btn-info' %>
  </div>
<% end %>