<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-12 mt-3'>
      <% if user_signed_in? %>
        <div class="row search_form mt-2 d-flex justify-content-end">
          <%= form_with url: group_search_path, local: true, method: :get do |f| %>
            <%= f.text_field :word, placeholder: "グループ名を入力" %>
            <% f.select :range, options_for_select(['Group']) %>
            <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
            <%= f.submit "検索", class: "btn btn-primary" %>
          <% end %>
        </div>
      <% end %>
      <h2>グループ一覧</h2>
      <%= render 'index', groups: @groups, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
<%= paginate @groups %>