 <div class="col-md-12 mt-3 text-left">
  <h2>グループ詳細</h2>

  <%= image_tag @group.get_group_image(100, 100), class: 'circle-image' %>
  <p class="text-left mt-3" style="font-weight: bold; color: #191970; font-size: 20px; font-family: Georgia;">グループ名</p><p><%= @group.name %></p>
  <p class="text-left" style="font-weight: bold; color: #191970; font-size: 20px; font-family: Georgia;">グループ紹介</p><p><%= @group.introduction %></p>
  <p class="text-left" style="font-weight: bold; color: #191970; font-size: 20px; font-family: Georgia;">テーマ</p><p><%= @group.theme %></p>
  <p class="text-left" style="font-weight: bold; color: #191970; font-size: 20px; font-family: Georgia;">ルール</p><p><%= @group.rule %></p>

  <div style="display: flex;">
  <% @group.users.each_with_index do |user, index| %>
    <% if index == 0 %>
      <p style="font-weight: bold; color: #191970; font-size: 18px; font-family: Georgia;">参加者名：<%= link_to user.name, user_path(user.id) %></p>
    <% else %>
      <p>&emsp;<%= link_to user.name, user_path(user.id) %></p>
    <% end %>
  <% end %>
  </div>

  <p class="text-left">メンバー数：<%= @group.group_users.count %></p>

  <% if @group.group_users.exists?(user_id: current_user.id) %>
    <%= link_to 'グループ退出', group_group_users_path(@group), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "本当にグループを退出しますか？" } %>
  <% elsif @group.permits.exists?(user_id: current_user.id) %>
    <%= link_to '申請取消', group_permits_path(@group), method: :delete, class: "btn btn-sm btn-danger" %>
  <% else %>
    <%= link_to '加入申請', group_permits_path(@group), method: :post, class: "btn btn-sm btn-success" %>
  <% end %>

  <% if @group.owner_id == current_user.id %>
    <div class="dropdown d-inline-block">
      <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      オーナー専用
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <%= link_to "承認待ち一覧", permits_path(@group), class: "dropdown-item text-secondary bg-transparent" %>
        <%= link_to 'グループ編集', edit_group_path(@group), class: "dropdown-item text-success bg-transparent" %>
        <%= link_to 'グループ削除', group_path(@group), method: :delete, class: "dropdown-item text-danger bg-transparent", data: { confirm: "本当に削除しますか？" } %>
      </div>
    </div>
  <% end %>
  <div class="mt-3">
    <%= link_to "グループを作成する", new_group_path %> |
    <%= link_to "グループ一覧", groups_path %>
  </div>

  <h5 class="mt-5">グループメンバー投稿一覧</h5>
  <div class="mt-3">
  <% @diary_records.each do |diary_record| %>
    <div><%= link_to diary_record.title, diary_record_path(diary_record.id) %></div>
    <div><%= diary_record.body %></div>
  <% end %>
  </div>
  <%= paginate @diary_records %>
</div>