<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-12 mt-3'>
      <h1>グループ検索結果一覧</h1>
      <table class="table table-hover table-inverse">
        <thead>
                <tr>
                  <th>グループ名</th>
                  <th>グループ紹介</th>
                  <th>テーマ</th>
                  <th>ルール</th>
                  <th>メンバー数</th>
                  <th></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
      
        <% @groups.order(created_at: :desc).each do |group| %>
          <tr>
            <td>
              <%= link_to group_path(group) do %>
                <%= image_tag group.get_group_image(100, 100), class: 'circle-image' %><br/>
                <%= group.name %>
              <%end%>
            </td>
            <td><%= group.introduction %></td>
            <td><%= group.theme %></td>
            <td><%= group.rule %></td>
            <td><%= group.group_users.count %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div> 
<%= paginate @groups %>