<div class="container mt-3">
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <h3>検索結果一覧</h3>
      <% if @range == "DiaryRecord" %>
        <h3>DiaryRecords search for "<%= params[:word] %>"</h3>
      <% elsif @range == "User" %>
        <h3>Users search for "<%= params[:word] %>"</h3>
      <% end %>

      <div>
        <!--検索対象モデルがUser -->
        <% if @range == "ユーザー" %>
          <div class="row">
            <% @users.order(created_at: :desc).each do |user| %>
              <div class="col-md-2">
                <div class="name-truncate">
                  <%= link_to user_path(user) do %>
                    <%= image_tag user.get_profile_image(100, 100), class: 'circle-image' %><br/>
                    <%= user.name %>
                  <% end %>
                </div>
                <div class="user-introduction">
                  <%= user.introduction %>
                </div>
              </div>
            <% end %>
          </div>
          <%= paginate @users %>

        <% elsif @range == "投稿" %>
          <div class="row">
            <%= render "public/diary_records/index", diary_records: @diary_records %>
          </div>
          <%= paginate @diary_records, theme: 'bootstrap-5' %>
        <% end %>
      </div>
    </div>
  </div>
</div>