<div class="container py-5 px-sm-0">
  <div class="row">
    <div class="col-10 mx-auto">
      <h4>投稿内容</h4>

      <div class="bg-image mb-3">
        <%= image_tag @diary_record.get_background_image(200, 200), style: "width: 100%; border-radius: 10px;" %>
        <div class="overlay-text">
           <%= image_tag @diary_record.user.get_profile_image(100, 100), class: 'circle-image' %><br/>
           <%= @diary_record.user.name %>
        </div>

        <div class="overlay-text1"><%= @diary_record.title %></div>
        <div class="overlay-text2"><%= @diary_record.body %></div>
        <div class="overlay-text3"><%= @diary_record.category %></div>
        <div class="overlay-image"><%= image_tag @diary_record.get_diary_record_image(200, 200)%></div>

        <div class="overlay-text5"><%= @diary_record.created_at.strftime("%Y/%m/%d") %></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3 mt-5">
      <h4>管理者に報告する</h4>
      <%= form_with model: [@diary_record, @report] do |f| %>
        <%= f.text_area :report, class: 'form-control', rows: '6', placeholder: "100文字以内で報告内容を記載" %><br/>
        <%= f.submit "報告する", class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
</div>