<div class="container mt-3">
  <div class="row">
    <div class="col-6 mx-auto">
      <h3>投稿編集</h3>
      <div>
        <% if @diary_record.errors.any? %>
          <% @diary_record.errors.count %>
            <p><%= @diary_record.errors.count %>件のエラーにより、この投稿の編集に失敗しました</p>
          <ul>
            <% @diary_record.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <%= form_with model: @diary_record do |f| %>
      <div class="form-group">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :body, "投稿内容" %>
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :category, "タグ" %>
        <%= f.text_field :category, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :diary_record_image, "投稿画像" %>
        <%= f.file_field :diary_record_image, accept: "image/*", class: "w-100" %>
      </div>
      <!--ラジオボタンを選択状態にする、:background_image_nameを文字列としてコントローラに送る-->
      <div class="form-group">
        <% @images.each_with_index do |image, index| %>
          <%= f.label image do %>
            <% if index == 0 %>
              <%= f.radio_button :background_image_name, image, id: image, class: 'input-radio', checked: true %>
            <% else %>
              <%= f.radio_button :background_image_name, image, id: image, class: 'input-radio' %>
            <% end %>
            <%= image_tag(image, class: 'thumb', style: 'width: 50px; height: 50px; border: 1px solid #ccc;') %>
          <% end %>
        <% end %>
      </div>
      <span class="form-group mt-3">
        <%= f.submit '更新する', class: "btn btn-sm btn-success" %>
      </span>

      <div class="mt-3">
        <%= link_to "投稿詳細へ戻る", diary_record_path(@diary_record.id) %>
      </div>
      <% end %>
    </div>
  </div>
</div>
