<!--レイアウトは後で-->
<%= render 'public/searches/search' %>
<div class="container mt-3">
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <h3>投稿一覧</h3>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>ユーザー</th>
            <th>タイトル</th>
            <th>投稿</th>
            <th>タグ</th>
            <th>画像</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @diary_records.each do |diary_record| %>
            <tr>
              <td>
              <%= link_to user_path(diary_record.user) do %>
                <%= image_tag diary_record.user.get_profile_image(100, 100), class: 'circle-image' %><br/>
                <%= diary_record.user.name %>
              <% end %>
              </td>
              <td><%= link_to diary_record.title, diary_record_path(diary_record.id) %></td>
              <td><%= diary_record.body %></td>
              <td><%= diary_record.category %></td>
              <td><%= image_tag diary_record.get_diary_record_image(100, 100) %></td>
            <!--後で背景を選べるようにする-->
            <td><%= image_tag diary_record.get_background_image(100, 100) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @diary_records %>
    </div>
  </div>
</div>