<div class="container mt-3">
  <div class="row">
    <div class="col-sm-12 col-md-8 mx-auto">
      <h3>新規作成</h3>
      <div>
        <% if @diary_record.errors.any? %>
          <% if @diary_record.errors.count > 1 %>
            <p><%= @diary_record.errors.count %>errors prohibited this diary_record from being saved:</p>
          <% else %>
            <p><%= @diary_record.errors.count %>error prohibited this diary_record from being saved:</p>
          <% end %>
          <ul>
            <% @diary_record.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <%= form_with model: @diary_record do |f| %>
      <div class="form-group">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, class: "form-control", id: "post-title" %>
      </div>
      <div class="form-group">
        <%= f.label :body, "投稿内容" %>
        <%= f.text_area :body, class: "form-control", id: "post-body" %>
      </div>
      <div class="form-group">
        <%= f.label :category, "タグ" %>
        <%= f.text_field :category, class: "form-control", id: "post-title" %>
      </div>
      <div class="form-group">
        <%= f.label :diary_record_image, "投稿画像（任意）" %>
        <%= f.file_field :diary_record_image, accept: "image/*", class: "w-100" %>
      </div>
      <div class="form-group">
        <% @images.each_with_index do |image, index| %>
          <%= f.label image do %>
            <% if index == 0 %>
              <%= f.radio_button :background_image_name, image, id: image, class: 'input-radio', checked: true %>
            <% else %>
              <%= f.radio_button :background_image_name, image, id: image, class: 'input-radio' %>
            <% end %>
            <%= image_tag(image, class: 'thumb', style: 'width: 50px; height: 50px; border: 1px solid #ccc;') %>
          <% end %>
        <% end %>
      </div>
      <!--背景をユーザーが自由に投稿できるようにするときはこちらを使う-->
      <!--<div class="form-group">-->
      <!--  <%#= f.label :background_image, "背景画像" %>-->
      <!--  <%#= f.file_field :background_image, accept: "image/*", class: "w-100" %>-->
      <!--</div>-->
      <span>
        <%= f.submit '投稿する', class: "btn btn-sm btn-success" %>
      </span>
      <% end%>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
  $('#post-body').on('input', function() {
    const text = $(this).val();
    const lines = text.match(/.{1,21}/g);  // 21文字ごとに分割する

    $(this).val(lines.join('\n'));
  });

  $('#post-title').on('input', function() {
    const text = $(this).val();
    const lines = text.match(/.{1,21}/g);  // 21文字ごとに分割する

    $(this).val(lines.join('\n'));
  });
});
</script>