    <h3>新規作成</h3>
<div>
  <% if @diary_record.errors.any? %>
    <% if @diary_record.errors.count > 1 %>
      <p><%= @diary_record.errors.count %>errors prohibited this diary_record from being saved:</p>
    <% else %>
      <p><%= @diary_record.errors.count %>error prohibited this diary_record from being saved:</p>
    <% end %>
    <ul>
      <% @diary_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

    <div class="col-12">
      <%= form_with model: @diary_record do |f| %>
      <div class="form-group">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :body, "投稿内容" %>
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :category, "タグ（複数登録できます）" %>
        <%= f.text_field :category, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :diary_record_image, "投稿画像" %>
        <%= f.file_field :diary_record_image, accept: "image/*", class: "w-100" %>
      </div>
      <!--後で選べるようにする。if文であらかじめ用意した画像を背景色とする-->
      <div class="form-group">
        <%= f.label :background_image, "背景画像" %>
        <%= f.file_field :background_image, accept: "image/*", class: "w-100" %>
      </div>
      <span class="form-group">
        <%= f.submit '投稿する', class: "btn btn-sm btn-success" %>
      </span>
      <% end%>
    </div>