<div class="container mt-3">
  <div class="row">
    <div class="col-10 mx-auto">
    <h2 class="mt-3">投稿詳細</h2>
    <!--画像サイズが他と違うため_indexをrenderしてこないこと-->
    <div class="bg-image mb-3">
      <%= image_tag @diary_record.get_background_image(200, 200), style: "width: 100%; border-radius: 10px;"  %>
      <div class="overlay-text"><%= link_to user_path(@user.id) do %>
             <%= image_tag @diary_record.user.get_profile_image(100, 100), class: 'circle-image' %><br/>
             <%= @diary_record.user.name %>
           <% end %>
      </div>
      <div class="overlay-text1"><%= @diary_record.title %></div>
      <div class="overlay-text2"><%= @diary_record.body %></div>
      <div class="overlay-text3"><%= @diary_record.category %></div>
      <div class="overlay-image"><%= image_tag @diary_record.get_diary_record_image(200, 200)%></div>
      <!--いいね機能非同期化-->
      <div class="overlay-text4">
        <div id="comment_counter">
          <%= render "public/diary_record_comments/counter", diary_record: @diary_record %>
        </div>
        <div id="favorite_buttons_<%= @diary_record.id %>">
          <%= render "public/favorites/favorite-btn", diary_record: @diary_record %>
        </div>
      </div>
      <div class="overlay-text5"><%= @diary_record.created_at.strftime("%Y/%m/%d") %></div>
    </div>

    <div class="mb-3 text-right"><%= link_to "管理者に報告する" ,new_diary_record_reports_path(@diary_record), class: "text-dark" %></div>

    <div class="mb-3 text-right">
      <% if @diary_record.user == current_user %>
      <span><%= link_to "編集", edit_diary_record_path(@diary_record), class: "btn btn-sm btn-success" %></span>
      <% end %>
      <% if @diary_record.user == current_user %>
      <span><%= link_to "削除", diary_record_path(@diary_record), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger" %></span>
      <% end %>
    </div>
    <!--非同期化-->
    <div id="comment_index">
      <%= render "public/diary_record_comments/index", diary_record: @diary_record %>
    </div>
      <%= render "public/diary_record_comments/form", diary_record: @diary_record, diary_record_comment: @diary_record_comment %>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
  $('.col-10').hide(); // 最初は要素を非表示にする

  // 要素をふわっと表示させる処理
  $('.col-10').each(function(index) {
    // 順番にアニメーションで表示させる
    $(this).delay(200 * index).fadeIn(800);
  });
});
</script>