<div class="container">
  <div class="row">
    <div class='col-md-3'>
      <h3 class="mt-3">ユーザー詳細</h3>

      <table class='table'>
        <tbody>
          <tr>
            <%= image_tag @user.get_profile_image(100, 100), class: 'circle-image' %>
          </tr>
          <tr>
            <td>ユーザー名</td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td>自己紹介</td>
            <td><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>

        <div class="col mt-3">
          <% if @user.email != "guest@example.com" %>
            <%= link_to "退会", admin_user_path(@user.id),class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "すべての情報が削除されます。本当に退会しますか？" } %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-12 mt-3">
       <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>ユーザー</th>
            <th>タイトル</th>
            <th>投稿</th>
            <th>タグ</th>
            <th>画像</th>
            <th>画像背景</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @diary_records.each do |diary_record| %>
            <tr>
              <td>
                <%= image_tag diary_record.user.get_profile_image(100, 100), class: 'circle-image' %><br/>
                <%= diary_record.user.name %>
              </td>
              <td><%= diary_record.title %></td>
              <td><%= diary_record.body %></td>
              <td><%= diary_record.category %></td>
              <td><%= image_tag diary_record.get_diary_record_image(100, 100) %></td>
            <!--後で背景を選べるようにする-->
            <td><%= image_tag diary_record.get_background_image(100, 100) %></td>
            <td id="comment_counter">
              <%= render "public/diary_record_comments/counter", diary_record: diary_record %>
            </td>
            <td><%= link_to "削除", admin_diary_record_path(diary_record), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @diary_records %>
    </div>
  </div>
</div>