<%= render 'public/searches/search' %>
<div class="container mt-3">
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <h2>ユーザー一覧</h2>
      <%= link_to "グループを作成する", new_group_path %>
      |
      <%= link_to "グループ一覧", groups_path %>
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-md-2">
            <div class="name-truncate">
              <%= link_to user_path(user) do %>
                <%= image_tag user.get_profile_image(100, 100), class: 'circle-image' %><br/>
                <%= user.name %>
              <% end %>
            </div>
            <div class="user-introduction">
              <%= user.introduction %>
            </div>
          </div>
        <% end %>
      </div>
      <%= paginate @users, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
<!--ユーザー紹介文は35文字以上は…表記-->
<script>
   $(document).ready(function() {
  $('.user-introduction').each(function() {
    const textContent = $(this).text().trim();
    if (textContent.length > 35) {
      $(this).text(textContent.slice(0, 35) + '...');
    }
  });
});
</script>