<div class="container mt-3">
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <% if @user == current_user %>
        <h3 class="mt-3">マイページ</h3>
      <% else %>
        <h3 class="mt-3">ユーザー詳細</h3>
      <% end %>

      <div class="mt-3"><%= image_tag @user.get_profile_image(100, 100), class: 'circle-image' %></div>
      <div class="mt-3">ユーザー名：　<%= @user.name %></div>
      <div class="mt-3">自己紹介：　<%= @user.introduction %></div>

      <% if @user == current_user && @user.email != "guest@example.com" %>
        <%= link_to edit_user_path(@user) do %>
          <div class="btn btn-outline-secondary btn-block mt-4 col-3">
          <i class="fa-solid fa-user-gear"></i>
          </div>
        <% end %>
      <% end %>

      <div class="row mt-3">
        <% @diary_records.each do |diary_record| %>
          <div class="col-6">
            <div class="bg-image mb-3">
              <%= image_tag diary_record.get_background_image(200, 200), style: "width: 100%; border-radius: 10px;" %>
              <div class="overlay-text">
                <%= image_tag diary_record.user.get_profile_image(100, 100), class: 'circle-image' %><br/>
                <span class="name-truncate"><%= diary_record.user.name %></span>
              </div>
              <div class="wrap-content">
                <div class="overlay-text1"><%= link_to diary_record.title, diary_record_path(diary_record.id) %></div>
                <div class="overlay-text2 truncate-text"><%= diary_record.body %></div>
                <div class="overlay-text3">タグ： <%= diary_record.category %></div>
                <div class="overlay-image"><%= image_tag diary_record.get_diary_record_image(120, 120)%></div>
                <div class="overlay-text4">
                  <div id="comment_counter">
                    <%= render "public/diary_record_comments/counter", diary_record: diary_record %>
                  </div>
                  <div id="favorite_buttons_<%= diary_record.id %>">
                    <%= render "public/favorites/favorite-btn", diary_record: diary_record %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= paginate @diary_records %>
    </div>
  </div>
</div>
<script>
   $(document).ready(function() {
  $('.truncate-text').each(function() {
    const textContent = $(this).text().trim();
    if (textContent.length > 124) {
      $(this).text(textContent.slice(0, 124) + '...');
    }
  });
});
</script>