<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #f08080;">
    <div class="container">
      <a class="navbar-brand" href="/"><span><%= image_tag "no_image.jpg", size: "100x100" %></span></a>
      <% if user_signed_in? %>
        <p class="mx-5 text-light">ようこそ、 <%= current_user.name %> さん！</p>
      <% elsif admin_signed_in? %>
        <p class="mx-5 text-danger font-weight-bold h3" style="text-shadow: 1px 2px 3px #203744;">管理者として<br>ログイン中 <i class="fa-solid fa-triangle-exclamation text-warning"></i></p>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="d-flex flex-column w-100">
          <ul class="navbar-nav my-2 ml-auto flex-row">

          <% if admin_signed_in? %>
            <li class="nav-item ml-3">
              <%= link_to admin_path, class: 'nav-link text-light' do %>
                <i class="mr-1 fa-solid fa-cake-candles"></i> 管理者トップ
              <% end %>
            </li>
            <li class="nav-item ml-3">
              <%= link_to admin_users_path, class: 'nav-link text-light' do %>
                <i class="mr-1 fa-solid fa-users-gear"></i> ユーザー一覧
              <% end %>
            </li>
            <li class="nav-item ml-3">
              <%= link_to admin_diary_record_comments_path, class: 'nav-link text-light' do %>
                <i class="mr-1 fa-solid fa-kitchen-set"></i> コメント一覧
              <% end %>
            </li>
            <li class="nav-item ml-3">
              <%= link_to admin_groups_path, class: 'nav-link text-light' do %>
                <i class="mr-1 fa-solid fa-tags"></i> グループ一覧
              <% end %>
            </li>
            <li class="nav-item ml-3">
              <%= link_to admin_diary_records_path, class: 'nav-link text-light' do %>
                <i class="mr-1 fa-solid fa-tags"></i> 投稿一覧
              <% end %>
            </li>
            <li class="nav-item ml-3">
              <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
                <i class="mr-1 fa-solid fa-right-from-bracket"></i> ログアウト
              <% end %>
            </li>

          <% elsif user_signed_in? %>
            <li class="nav-item ml-3">
              <%= link_to user_path(current_user), class: 'nav-link text-light' do %>
                <i class="mr-1 fa-solid fa-user-large"></i> マイページ
              <% end %>
            </li>
            <li class="nav-item ml-3">
              <%= link_to diary_records_path, class: 'nav-link text-light' do %>
                <i class="mr-1 fa-solid fa-cake-candles"></i> 投稿一覧
              <% end %>
            </li>
            <li class="nav-item ml-3">
              <%= link_to new_diary_record_path, class: 'nav-link text-light' do %>
                <i class="mr-1 fa-solid fa-cart-shopping"></i> 新規投稿
              <% end %>
            </li>
            <li class="nav-item ml-3">
              <%= link_to users_path, class: 'nav-link text-light' do %>
                <i class="mr-1 fa-solid fa-users-gear"></i> ユーザー一覧
              <% end %>
            </li>
            <li class="nav-item ml-3">
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
                <i class="mr-1 fa-solid fa-right-from-bracket"></i> ログアウト
              <% end %>
            </li>

          <% else %>
            <li class="nav-item ml-3">
              <%= link_to about_path, class: 'nav-link text-light' do %>
                <i class="mr-1 fa-solid fa-house-chimney"></i> About
              <% end %>
            </li>
            <li class="nav-item ml-3">
              <%= link_to diary_records_path, class: 'nav-link text-light' do %>
                <i class="mr-1 fa-solid fa-cake-candles"></i> 投稿一覧
              <% end %>
            </li>
            <li class="nav-item ml-3">
              <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
                <i class="mr-1 fa-solid fa-user-plus"></i> 新規登録
              <% end %>
            </li>
            <li class="nav-item ml-3">
              <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
                <i class="mr-1 fa-solid fa-right-to-bracket"></i> ログイン
              <% end %>
            </li>
          <% end %>

          </ul>
          <form class="form-inline my-2 mt-lg-0 ml-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="検索" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
      </div>
    </div>
  </nav>
</header>